* {margin:0;padding:0;}
html { scroll-behavior: smooth;
  /* убрать выделение текста */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
body{
  background-position: center center;
  background-repeat: no-repeat;      
  background-attachment: fixed;      
  background-size: cover;      
  background-color: #222;
  height: 300%;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 1px; /* ширина для вертикального скролла */
    height: 5px; /* высота для горизонтального скролла */
    background: linear-gradient(1deg, red, yellow, purple);
}
/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background: #00ff91;
    border-radius: 1em;
}